.footer {
    margin: 0 auto;
    width: 880px;
    color: #545454;
}

.footer__description {
    width: 318px;
    margin: 67px 0 60px;
    height: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;

}

@media screen and (max-width: 768px) {
    .footer {
       max-width: 620px;
     
        
    }
 }

@media screen and (max-width: 600px) {
      .footer {
       max-width: 320px;
       margin: 0;
       padding: 0 40px;
       font-size: 10px;
        
    }
}
