.header {
    margin: 45px auto 40px;
    width: 880px;
    max-height: 74px;
    border-bottom: 2px solid #545454;
    box-sizing: border-box; 
}

.header__vector {
    width: 173px;
    margin-bottom: 41px;
}