.header {
    max-height: 74px;
    border-bottom: 2px solid #545454;
    box-sizing: border-box; 
    margin-bottom: 40px;
}

.header__vector {
    width: 173px;
    margin-bottom: 41px;
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 65px;
       
    }

    .header__vector {
        width: 150px;
        margin-left: 20px;
       }
 }

@media screen and (max-width: 600px) {
    .header {
        max-height: 56px;
       }

    .header__vector {
        width: 150px;
        margin-left: 20px;
       }
}