.photo-grid {
    max-width: 880px;
    padding: 0 200px;
    margin: 50px auto 67px;                                         ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 16px;
}

.box__photo-grid{
    background-color: #fff;
    width: 282px;
    height: 361px;
    border-radius: 10px;
}

.photo-grid__item {
  width: 282px; 
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover; 
}

.box-name__photo-grid {
  background-color: aquamarine;
  margin: 24px auto 25px;
  width: 246px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.name__photo-grid {
  width: 220px;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;       
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;            
}

.Coração__photo-grid {
    width: 21px;
    height: 19px;
       
}