.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.popup {
    height: 330px;
    width: 430px;
    background-color: #fff;
    padding: 34px 36px 36px;
    box-sizing: border-box;
    position: relative;
}

.popup__title {
    margin-top: 1px;
    width: 330px;
    
}

.popup__input-name {
    width: 358px;
    height: 27.26px;
    border: none;
    border-bottom: 2px solid #545454;
    box-sizing: border-box;
}

.popup__input-occupation {
    width: 358px;
    height: 27.26px;
    margin: 27px auto;
    border: none;
    border-bottom: 2px solid #545454;
    box-sizing: border-box;

}

.popup__button-save{
    width: 358px;
    height: 50px;
    margin-top: 48px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    background-color: #000;
    color: #fff;
}
.popup__button-save:hover {
    background-color: #545454;
}

.popup__x-popup {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
}


