.popup-image {
  display: none; 
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.popup-image.isOpen {
  display: flex;
}

.popup-image__content {
  max-width: 80%;
  max-height: 80%;
  position: relative;
}

.popup-image__full {
  width: 433px;
  height: auto;
  border-radius: 8px;
}

 .popup-image__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
  cursor: pointer;
} 

.popup-image__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}

 @media screen and (max-width: 600px) {
    .popup-image__full{
      width: 280px;
    }

   .popup-image__close {
    width: 30px;
    height: 30px;
 }
  }